* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --c: rgb(143, 121, 255);
  --p: 65;
  --b: 22px;
}
.chart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 22px;
  aspect-ratio: 1;
}
.chart::before,
.chart::after {
  border-radius: 50%;
  content: " ";
  position: absolute;
}
.chart::before {
  /* top right bottom left shorthand */
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p) * 1%), #d7d7d7 0);
  mask-image: radial-gradient(
    circle closest-side,
    transparent calc(99% - var(--b)),
    rgb(0, 0, 0) calc(100% - var(--b))
  );
}
